/* Assistant */
.site-assistant {
  bottom: 50px;
  box-shadow: 0 5px 27px rgba(0, 0, 0, .28);
  overflow: hidden;
  position: fixed;
  right: 50px;
  z-index: 99999;
}

.site-assistant__window {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
}

.site-assistant__toggle {
  background-color: #fff;
  background-image: url('../images/user-astronaut.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 55px;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  display: none;
  font-family: serif;
  font-size: 55px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  transform: rotate3d(0, 0, 1, -5deg);
  transition: all 150ms ease-in-out;
  width: 75px;
}

.site-assistant--closed {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.site-assistant--closed .site-assistant__toggle {
  display: block;
}

.site-assistant--closed .site-assistant__window {
  display: none;
}

/* Assistant navigation */
.assistant-navigation {
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

.assistant-navigation__close {
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: 0;
  width: 30px;
}

.assistant-navigation__close:before {
  background-color: currentColor;
  content: '';
  height: 2px;
  position: absolute;
  right: 10px;
  top: 14px;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  width: 12px;
}

.assistant-navigation__close:after {
  background-color: currentColor;
  content: '';
  height: 2px;
  position: absolute;
  right: 10px;
  top: 14px;
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
  width: 12px;
}

.assistant-navigation__back {
  cursor: pointer;
  height: 30px;
  left: 0;
  padding-top: 5px;
  position: absolute;
  text-align: center;
  width: 30px;
}

.assistant-navigation__back::after {
  border: solid black;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate3d(0, 0, 1, 135deg);
  transform: rotate3d(0, 0, 1, 135deg);
}

/* Assistant page */
.assistant-page {
  background: #fff;
  box-sizing: border-box;
  cursor: initial;
  padding: 30px 20px 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
}

.assistant-page .assistant-page {
  margin: 0 -20px;
  transform: translateX(350px);
}

.assistant-page--active {
  visibility: visible;
  z-index: 2;
}

/* Assistant list entry */
.assistant-list-entry {
  border-bottom: 1px solid #d3d7d9;
  display: flex;
  padding: 20px 0;
  width: 100%;
}

.assistant-list-entry:last-child {
  border-bottom: 0 none;
}

.assistant-list-entry:first-child {
  padding-top: 0;
}

.assistant-list-entry__title {
  flex: 1 1 100%;
}

.assistant-list-entry__arrow {
  flex: 0 1 auto;
}

.assistant-list-entry__arrow::after {
  border: solid black;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -50%, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -50%, 0);
}

.assistant-list-entry__links a {
  border-bottom: 0 none;
  display: block;
  padding-left: 20px;
  position: relative;
  text-decoration: none;
}

.assistant-list-entry__links a:before {
  border: solid currentColor;
  border-width: 0 2px 2px 0;
  content: '';
  cursor: pointer;
  display: inline-block;
  left: 0;
  padding: 3px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(50%, 0, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(50%, 0, 0);
}

.assistant-list-entry--headline {
  display: block;
}

.assistant-list-entry--subpage {
  cursor: pointer;
}

.assistant-list-entry--link {
  cursor: pointer;
}

.assistant-list-entry--link_list {
  flex-wrap: wrap;
}

.assistant-list-entry--reusable {
  display: block;
}
