/* Assistant */
.site-assistant {
  border-radius: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.site-assistant--closed {
  border-radius: 50%;
}

/* Assistant list entry */
.assistant-list-entry {
  font-weight: 500;
}

.assistant-list-entry--headline {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: .3px;
  line-height: 1.1;
  text-align: center;
}

.assistant-list-entry--html {
  font-size: 13px;
  font-weight: normal;
}
