<div class="assistant-list-entry assistant-list-entry--{{- elements['#assistant_list_entry'].bundle[0].target_id }}">
  <div class="assistant-list-entry__title">{{- content.title -}}</div>
  <div class="assistant-list-entry__links">{{ content.field_links }}</div>
</div>
