{%- set assist_page = content.field_subpage_content is defined -%}

<div class="assistant-list-entry assistant-list-entry--{{- elements['#assistant_list_entry'].bundle[0].target_id }}">
  <div class="assistant-list-entry__title">{{- content.title -}}</div>
  <div class="assistant-list-entry__arrow"></div>
  {%- if assist_page -%}
    <div class="assistant-page" data-assistant-page="{{- elements['#assistant_list_entry'].id.value -}}">{{ content.field_subpage_content }}</div>
  {%- endif -%}
</div>
