<a class="assistant-list-entry assistant-list-entry--{{- elements['#assistant_list_entry'].bundle[0].target_id }}" href="{{ elements['#assistant_list_entry'].field_target_url.0.url }}" target="_blank">
    {{- content.field_target_url.0['#title'] -}}
</a>

