{%- set assist_page = content.field_subpage_content is defined -%}

<div class="assistant-list-entry assistant-list-entry--{{- elements['#assistant_list_entry'].bundle[0].target_id }}">
  {{ content|without('field_subpage_content') }}
  {%- if assist_page -%}
    <div class="assistant-page" data-assistant-page="{{- elements['#assistant_list_entry'].id.value -}}">{{ content.field_subpage_content }}</div>
  {%- endif -%}
</div>
