{#
/**
 * @file
 * Theme override for a assistant edit form.
 *
 * Two column template for the assistant add/edit form.
 *
 * This template will be used when a assistant edit form specifies 'assistant_edit_form'
 * as its #theme callback.  Otherwise, by default, assistant add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The assistant add/edit form.
 *
 */
#}
<div class="layout-assistant-section-form clearfix">
  <div class="layout-region layout-region-assistant-section-main">
    {{ form|without('advanced', 'footer', 'actions') }}
  </div>
  <div class="layout-region layout-region-assistant-section-secondary">
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-assistant-section-footer">
    <div class="layout-region-assistant-section-footer__content">
      {{ form.footer }}
      {{ form.actions }}
    </div>
  </div>
</div>
