<div class="site-assistant">
  <div class="site-assistant__toggle" title="{{ 'Open site assistant'|t }}"></div>
  <div class="site-assistant__window">
    <div class="site-assistant__navigation assistant-navigation"></div>
    <div class="site-assistant__content-wrapper assistant-page" data-assistant-page="0">
      {%- for list_entry in list_entries -%}
        {{- list_entry -}}
      {%- endfor -%}
    </div>
  </div>
</div>

{{ attach_library('site_assistant/widget') }}
